<%- include('partials/header'); -%>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 style="margin-top: 0; margin-bottom: 30px;">Vote your candidate</h2>
            <strong><h5 style="margin-bottom: 0; margin-top: 20px;">NAME:</h5></strong><%= currUser.name %>
            <strong><h5 style="margin-bottom: 0; margin-top: 20px;">AADHAR:</h5></strong><%= currUser.username %>
            <strong><h5 style="margin-bottom: 0; margin-top: 20px;">CONSTITUENCY:</h5></strong><%= currUser.constituency %>
        </div>
        <div class="col-md-4" style="background: lightgrey; padding: 2.0em; border-radius: 5px;">
            <h1 style="margin-top: 0; margin-bottom: 40px;">Cast your vote</h1>
            <form action="/vote" method="POST">
                <% foundCandidates.forEach(function(candidate){ %>
                    <div class="thumbnail">
                        <img class="img-responsive" src="<%= candidate.image %>" alt="">
                        <h4>
                            <div class="form-group">
                                <input type="radio" id="<%= candidate._id %>" name="candidate" value="<%= candidate._id %>" required>
                                <label for="<%= candidate._id %>"><%= candidate.name %></label>
                            </div>
                        </h4>
                    </div>
                    
                <% }) %>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>



<!-- <li><a href="/logout">Logout</a></li> -->